# Archivos de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de build
[Bb]in/
[Oo]bj/
[Ll]og/
out/

# Archivos de publicación
publish/

# Configuración de VS
.vs/

# Configuración de Rider / JetBrains
.idea/

# Paquetes
*.nupkg
*.snupkg
*.nuspec
packages/
# PNPM / NPM (si usas wrapper JS)
node_modules/

# Archivos de backup
*.bak
*.swp
*~

# Archivos de sistema
[Dd]esktop.ini
[Tt]humbs.db


project.lock.json


*.pfx
*.p12
*.key
*.cer

# Secretos locales
secrets.json
*.env

# Logs
*.log
